body{
    padding: Opx;
    margin: Opx;
    background-image: url(../images/back.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}
#description{
    width:40%;
    height:80%;
    margin:10px;
    margin-left:10%;
    border-style:hidden;
    border-width:5px;
    border-color: whitesmoke; 
    padding: 10px;
    float: left;
}
#description h5{
  font-size: 30px;
  color: #fff;
}
#description p{
  font-size: 15px;
  color: #fff;
  text-align:justify;
}
#Fondateur p{
  font-size: 15px;
  color: #fff;
  text-align:center;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}
