body{
    margin: 0px;
    background-image: url(../images/back.JPG);
    background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
.nav-link{
    font-size: 20px;
}
#all{
    width: 100%;
    height: 950px;
}

#header{
    width:100%;
    height:30%;
    background-color:white;
}
#text{
    width:100%;
    height:100%; 
}
#middle{
    width:100%;
    height:85%;
    clear: both;
}
#menu{
    width:15%;
    height:100%;
    float: left;
}
#list{
    width:85%;
    height:100%;
    float: left;
}
#produit{
    width:25%;
    height:80%;
    margin-top:10px;
    margin-bottom: 20px;
    border-style:solid;
    border-width:5px;
    border-color:white; 
    padding: 10px;
    float: left;
}
#description{
    width:20%;
    height:80%;
    margin-top:10px;
    margin-bottom: 20px;
    margin-right: 5%;
    border-top-style:double;
    border-right-style:double;
    border-bottom-style:double;
    border-width:5px;
    border-color: rgba(13, 93, 158, 0.747); 
    padding: 10px;
    float: left;
    background-color: rgba(37, 37, 37, 0.342);
}
#produit img{
    height:80%;
    width:75%;
    float: left;
    position: relative;
    left:12%;
}
#produit h1{
    font-size: 30px;
    color: #fff;
}
#film{
    width:80%;
}
#film a{
    display:block;
    color:white;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;

}
#description h1{
    font-size: 30px;
    color: #fff;
}
#cate{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color:rgb(48, 46, 46);
    position: fixed;
}
#cate li a{
    display:block;
    width:100%;
    color:white;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    height: 60px;
}
#cate li a:hover{
    background-color: #555;
    color: white;
}
#cate li a:active{
    background-color: #4CAF50;
    color: white;
}
#description table{
    width:75%;
    position: relative;
    top:10px;
}
#description table tr{
    height:40px;
}
#description table th{ 
    color:rgb(107, 167, 216);
    font-size: 20px;
}
#description table td{
    color:rgb(205, 217, 226);
    font-size: 15px;
}
.title{
    position:relative;
    top:10%;
}
#des{
    position: relative;
    bottom: -5%;
}
.titledes p{
    font-size: 20px;
    color:rgb(107,167,216);
    font-weight: bold;
}
.contdes p{
    font-size: 15px;
    color: #fff;
    text-align:justify;
}
