body{
    margin: 0px;
    background-image: url(../images/back.JPG);
    background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
.nav-link{
    font-size: 20px;
}
#all{
    width: 100%;
    height: 950px;
}
#tab{
    width:90%;
}
#tab table{
    width:100%;
    color:white;
    border-color: aliceblue;
    background-color: rgba(128, 128, 128, 0.527);
    position: relative;
    left:4%;
}
#tab table th{
    height: 30px;
    font-size:20px;
}
#tab table td{
    height: 25px;
    font-size:15px;
}